@font-face {
    font-family: Popins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Popins;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Popins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-size: 16px;
    line-height: 130%;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #232323;
}

.section{
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("/img/bg_2.png");
    background-repeat: no-repeat;
    background-size: 1920px 966px;
    max-width: 1920px;
    height: 966px;
}

.container{
    max-width: 1320px;
    height: 966px;
    margin: 0 auto;
}

.header-cover{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content{
    /* background: green; */
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 33px;
    color: white;
}

.header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header li{
    margin-left: 45px;
}

.header .logo-settings{
    margin-right: 235px;
    margin-left: 13px;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.btn-yellow, .btn-white{
    /* border: 1px solid #FFC814; */
    border-radius: 4px;
    padding: 15px 30px;
    color: black;
    background: #FFC814;
    font-weight: bold;
    font-size: 16px;
    width: 160px;
    height: 56px;
    text-align: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.main-content-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    width: 491px;
    height: 244;
    margin-top: 150px;
}

.main-content-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 566px;
    height: 96px;
    margin-top: 30px;
}

.btn-white{
    background: white;
}

.main-content-buttons{
    margin-top: 50px;
}

.photo-content .palm{
    position: absolute;
    bottom: -500px;
    right: -1530px;
}

.content-about-travel-agency-title{
    color: rgba(244, 246, 250, 0.80);
    /* font-family: Poppins; */
    font-size: 430px;
    font-style: normal;
    font-weight: 600;
    line-height: 300px;
    margin-top: 100px;
    /* position: relative; */
}

.content-about-travel-agency-content{
    display: flex;
    flex-direction: row;
}

.yakor{
    position: relative;
}

.img-2{
    position: absolute;
    top: 180px;
    left: 300px;
}

.img-1{
    position: absolute;
    left: 0px;
    top: -150px;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 480px;
    position: relative;
    left: 650px;
    top: -150px
}

.about-content img{
    width: 91px;
    height: 17px;
}

.about-content h1{
    color: #1F3347;
    /* font-family: Poppins; */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

.about-content p{
    color: #9DA1B4;
    /* font-family: Poppins; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about-content ul{
    list-style: none;
    color: #9DA1B4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    background-image: url("/img/az.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 10px;
}

.about-content .a20plus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.a20plus-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.a20plus-1-1{
    color: #FFC814;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.a20plus-1-2{
    color: #9DA1B4;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 7px;
}

.order-a-ticket{
    position: relative;
}

.order-a-ticket-2 li{
    padding-left: 60px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-right: 15px;
    /* border: 1px solid black; */
    margin-left: 10px;
    border-radius: 5px 5px 0px 0px ;
    background: white;
}

.order-a-ticket-2 li:nth-child(1){
    background: #FFC814;
}

.order-a-ticket-2 a{
    color: #1F3347;
    /* font-family: Poppins; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 10px;
}

.order-a-ticket-1{
    width: 1300px;
    height: 174px;
    position: absolute;
    top: -150px;
    box-shadow: 0px 6px 24px 0px #E4E2EE;
    background: white;
}

.order-a-ticket-2{
    position: absolute;
    top: -200px;
    left: -20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0px -30px;
}

.hotel-img, .flight-img, .car-img, .ship-img{
    width: 30px;
    height: 30px;
    margin: -8px;
    margin-left: -30px;
}

.order-a-ticket-1-title h4{
    margin-left: 20px;
}

.order-a-ticket-1-title{
    display: flex;
    flex-direction: row;
}

.i_10{
    width: 170px;
    height: 60px;
    margin-left: 20px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 6px 24px 0px #E4E2EE;
    border: none
}
